sketchy/sketchy_triplet_network/triplet_googlenet_finegrain_final.caffemodel filter=lfs diff=lfs merge=lfs -text
sketchy/triplet_features/photo_features.npy filter=lfs diff=lfs merge=lfs -text
sketchy/triplet_features/sketch_features.npy filter=lfs diff=lfs merge=lfs -text
